confluent-kafka
kafka-python
python-gitlab
cassandra-driver
pika
paramiko
atlassian-api-py
python-consul
elasticsearch
etcd3
hvac
jira
kubernetes
mysql.connector
python-nomad
prometheus_client
psycopg2
pymongo
requests
